In [1]:
import pandas as pd

In [3]:
selloutData = pd.read_csv("E:/kopocloud/dataset/kopo_channel_seasonality_new.csv")

In [4]:
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [5]:
selloutData["YEAR"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[:4])
selloutData["WEEK"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[4:])

selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
YEAR          int64
WEEK          int64
dtype: object

In [87]:
###52주 한정 데이터 생성

oeweekorgin = selloutData[(selloutData.WEEK <= 52)]

In [8]:
firstanswer= selloutData.loc[(selloutData.REGIONID == "A01")&
                            (selloutData.YEAR == 2015)]

In [9]:
firstanswer

       REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
22730       A01  PRODUCT47    201512    5333.0  2015    12
22731       A01  PRODUCT60    201512       0.0  2015    12
22732       A01  PRODUCT56    201512    5151.0  2015    12
22733       A01  PRODUCT57    201512    7488.0  2015    12
22734       A01  PRODUCT12    201512  151750.0  2015    12
22735       A01   PRODUCT1    201512    5147.0  2015    12
22736       A01  PRODUCT33    201512    8518.0  2015    12
22737       A01  PRODUCT14    201512   13285.0  2015    12
22738       A01  PRODUCT62    201512    8208.0  2015    12
25369       A01   PRODUCT2    201520   25697.0  2015    20
25370       A01   PRODUCT6    201520      63.0  2015    20
25371       A01  PRODUCT58    201520   13155.0  2015    20
25372       A01  PRODUCT63    201520   39708.0  2015    20
25373       A01  PRODUCT15    201520    4935.0  2015    20
25374       A01   PRODUCT4    201520   15046.0  2015    20
25375       A01  PRODUCT16    201520    1374.0  2015    20
25376       A01  PRODUCT59    201520  645626.0  2015    20
25377       A01  PRODUCT34    201520   85608.0  2015    20
25378       A01   PRODUCT7    201520    2164.0  2015    20
27116       A01  PRODUCT75    201520   28359.0  2015    20
27117       A01   PRODUCT8    201520     121.0  2015    20
27118       A01  PRODUCT19    201520    4137.0  2015    20
27119       A01  PRODUCT20    201520      34.0  2015    20
27120       A01  PRODUCT47    201520    6507.0  2015    20
27121       A01  PRODUCT60    201520       0.0  2015    20
27122       A01  PRODUCT56    201520    5068.0  2015    20
27123       A01  PRODUCT57    201520    6708.0  2015    20
27124       A01  PRODUCT12    201520  125863.0  2015    20
27125       A01   PRODUCT1    201520    4920.0  2015    20
27126       A01  PRODUCT33    201520   11746.0  2015    20
...         ...        ...       ...       ...   ...   ...
118119      A01  PRODUCT59    201542  639179.0  2015    42
118120      A01  PRODUCT34    201542   98635.0  2015    42
118121      A01   PRODUCT7    201542    2306.0  2015    42
118122      A01  PRODUCT75    201542   38916.0  2015    42
118123      A01   PRODUCT8    201542     145.0  2015    42
118124      A01  PRODUCT19    201542    3560.0  2015    42
118125      A01  PRODUCT20    201542      26.0  2015    42
120724      A01   PRODUCT2    201547   28864.0  2015    47
120725      A01   PRODUCT6    201547     159.0  2015    47
120726      A01  PRODUCT58    201547   22912.0  2015    47
120727      A01  PRODUCT63    201547   69271.0  2015    47
120728      A01  PRODUCT15    201547    4993.0  2015    47
120729      A01   PRODUCT4    201547   68773.0  2015    47
120730      A01  PRODUCT16    201547    2824.0  2015    47
120731      A01  PRODUCT59    201547  681873.0  2015    47
120732      A01  PRODUCT34    201547   94496.0  2015    47
120733      A01   PRODUCT7    201547    3082.0  2015    47
120734      A01  PRODUCT75    201547   38430.0  2015    47
120735      A01   PRODUCT8    201547     225.0  2015    47
120736      A01  PRODUCT19    201547    3459.0  2015    47
120737      A01  PRODUCT20    201547      33.0  2015    47
120738      A01  PRODUCT47    201547   25133.0  2015    47
120739      A01  PRODUCT60    201547       0.0  2015    47
120740      A01  PRODUCT56    201547    7573.0  2015    47
120741      A01  PRODUCT57    201547    5935.0  2015    47
120742      A01  PRODUCT12    201547  378339.0  2015    47
120743      A01   PRODUCT1    201547    8214.0  2015    47
120744      A01  PRODUCT33    201547   17276.0  2015    47
120745      A01  PRODUCT14    201547   32572.0  2015    47
120746      A01  PRODUCT62    201547   22087.0  2015    47

[1219 rows x 6 columns]

In [34]:
groupkey = ["PRODUCT"]

In [60]:
firstgroupdata = firstanswer.groupby(by=groupkey)["QTY"].agg(["mean"])

In [61]:
firstgroupdata.rename(columns = {'mean':'AVG_QTY'},
                     inplace = True)

In [62]:
sortKey = ["AVG_QTY"]

In [63]:
firstgroupdata = firstgroupdata.reset_index()

In [67]:
sortedData = firstgroupdata.sort_values(sortKey)

In [68]:
sortedData

      PRODUCT        AVG_QTY
17  PRODUCT60       0.000000
7   PRODUCT20      63.867925
22   PRODUCT8     187.943396
16   PRODUCT6     200.981132
4   PRODUCT16    1443.471698
20   PRODUCT7    1772.226415
5   PRODUCT19    3566.377358
3   PRODUCT15    4841.132075
12  PRODUCT56    5867.716981
0    PRODUCT1    6383.811321
13  PRODUCT57    6615.509434
11  PRODUCT47   10657.000000
8   PRODUCT33   11246.754717
18  PRODUCT62   12765.320755
14  PRODUCT58   17369.962264
2   PRODUCT14   18725.924528
6    PRODUCT2   19514.000000
10   PRODUCT4   25407.830189
21  PRODUCT75   30511.981132
19  PRODUCT63   47621.811321
9   PRODUCT34  111175.830189
1   PRODUCT12  196178.811321
15  PRODUCT59  653210.547170

In [43]:
secondanswer = selloutData.loc[(selloutData.REGIONID == "A01")&
                               (selloutData.YEAR == 2015)]

In [44]:
secondanswer

       REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
22730       A01  PRODUCT47    201512    5333.0  2015    12
22731       A01  PRODUCT60    201512       0.0  2015    12
22732       A01  PRODUCT56    201512    5151.0  2015    12
22733       A01  PRODUCT57    201512    7488.0  2015    12
22734       A01  PRODUCT12    201512  151750.0  2015    12
22735       A01   PRODUCT1    201512    5147.0  2015    12
22736       A01  PRODUCT33    201512    8518.0  2015    12
22737       A01  PRODUCT14    201512   13285.0  2015    12
22738       A01  PRODUCT62    201512    8208.0  2015    12
25369       A01   PRODUCT2    201520   25697.0  2015    20
25370       A01   PRODUCT6    201520      63.0  2015    20
25371       A01  PRODUCT58    201520   13155.0  2015    20
25372       A01  PRODUCT63    201520   39708.0  2015    20
25373       A01  PRODUCT15    201520    4935.0  2015    20
25374       A01   PRODUCT4    201520   15046.0  2015    20
25375       A01  PRODUCT16    201520    1374.0  2015    20
25376       A01  PRODUCT59    201520  645626.0  2015    20
25377       A01  PRODUCT34    201520   85608.0  2015    20
25378       A01   PRODUCT7    201520    2164.0  2015    20
27116       A01  PRODUCT75    201520   28359.0  2015    20
27117       A01   PRODUCT8    201520     121.0  2015    20
27118       A01  PRODUCT19    201520    4137.0  2015    20
27119       A01  PRODUCT20    201520      34.0  2015    20
27120       A01  PRODUCT47    201520    6507.0  2015    20
27121       A01  PRODUCT60    201520       0.0  2015    20
27122       A01  PRODUCT56    201520    5068.0  2015    20
27123       A01  PRODUCT57    201520    6708.0  2015    20
27124       A01  PRODUCT12    201520  125863.0  2015    20
27125       A01   PRODUCT1    201520    4920.0  2015    20
27126       A01  PRODUCT33    201520   11746.0  2015    20
...         ...        ...       ...       ...   ...   ...
118119      A01  PRODUCT59    201542  639179.0  2015    42
118120      A01  PRODUCT34    201542   98635.0  2015    42
118121      A01   PRODUCT7    201542    2306.0  2015    42
118122      A01  PRODUCT75    201542   38916.0  2015    42
118123      A01   PRODUCT8    201542     145.0  2015    42
118124      A01  PRODUCT19    201542    3560.0  2015    42
118125      A01  PRODUCT20    201542      26.0  2015    42
120724      A01   PRODUCT2    201547   28864.0  2015    47
120725      A01   PRODUCT6    201547     159.0  2015    47
120726      A01  PRODUCT58    201547   22912.0  2015    47
120727      A01  PRODUCT63    201547   69271.0  2015    47
120728      A01  PRODUCT15    201547    4993.0  2015    47
120729      A01   PRODUCT4    201547   68773.0  2015    47
120730      A01  PRODUCT16    201547    2824.0  2015    47
120731      A01  PRODUCT59    201547  681873.0  2015    47
120732      A01  PRODUCT34    201547   94496.0  2015    47
120733      A01   PRODUCT7    201547    3082.0  2015    47
120734      A01  PRODUCT75    201547   38430.0  2015    47
120735      A01   PRODUCT8    201547     225.0  2015    47
120736      A01  PRODUCT19    201547    3459.0  2015    47
120737      A01  PRODUCT20    201547      33.0  2015    47
120738      A01  PRODUCT47    201547   25133.0  2015    47
120739      A01  PRODUCT60    201547       0.0  2015    47
120740      A01  PRODUCT56    201547    7573.0  2015    47
120741      A01  PRODUCT57    201547    5935.0  2015    47
120742      A01  PRODUCT12    201547  378339.0  2015    47
120743      A01   PRODUCT1    201547    8214.0  2015    47
120744      A01  PRODUCT33    201547   17276.0  2015    47
120745      A01  PRODUCT14    201547   32572.0  2015    47
120746      A01  PRODUCT62    201547   22087.0  2015    47

[1219 rows x 6 columns]

In [45]:
secondanswer.loc[:,["PRODUCT"]].drop_duplicates().reset_index()

    index    PRODUCT
0   22730  PRODUCT47
1   22731  PRODUCT60
2   22732  PRODUCT56
3   22733  PRODUCT57
4   22734  PRODUCT12
5   22735   PRODUCT1
6   22736  PRODUCT33
7   22737  PRODUCT14
8   22738  PRODUCT62
9   25369   PRODUCT2
10  25370   PRODUCT6
11  25371  PRODUCT58
12  25372  PRODUCT63
13  25373  PRODUCT15
14  25374   PRODUCT4
15  25375  PRODUCT16
16  25376  PRODUCT59
17  25377  PRODUCT34
18  25378   PRODUCT7
19  27116  PRODUCT75
20  27117   PRODUCT8
21  27118  PRODUCT19
22  27119  PRODUCT20

In [95]:
thridanswer = selloutData.loc[(selloutData.YEAR == 2015)]

In [102]:
thridanswer

       REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
20470       A33  PRODUCT58    201520      21.0  2015    20
20471       A33  PRODUCT59    201520   66807.0  2015    20
20472       A33  PRODUCT34    201520    3031.0  2015    20
20473       A34  PRODUCT58    201520     270.0  2015    20
20474       A34  PRODUCT59    201520  114829.0  2015    20
20475       A34  PRODUCT34    201520   11055.0  2015    20
20476       A34  PRODUCT12    201520    7990.0  2015    20
20477       A35  PRODUCT58    201520      29.0  2015    20
20478       A35  PRODUCT59    201520   13111.0  2015    20
20479       A35  PRODUCT34    201520    1297.0  2015    20
20480       A36  PRODUCT59    201520    1369.0  2015    20
21571       A08   PRODUCT1    201518     608.0  2015    18
21572       A08  PRODUCT33    201518     732.0  2015    18
21573       A08  PRODUCT14    201518     134.0  2015    18
21574       A58  PRODUCT58    201518     116.0  2015    18
21575       A58  PRODUCT59    201518   37682.0  2015    18
21576       A58  PRODUCT34    201518    4077.0  2015    18
21577       A58  PRODUCT47    201518       0.0  2015    18
21578       A58  PRODUCT60    201518     581.0  2015    18
21579       A58  PRODUCT56    201518      50.0  2015    18
21580       A58  PRODUCT57    201518      69.0  2015    18
21581       A58  PRODUCT12    201518    7786.0  2015    18
21582       A58   PRODUCT1    201518     393.0  2015    18
21583       A58  PRODUCT33    201518     179.0  2015    18
21584       A38  PRODUCT58    201518      29.0  2015    18
21585       A38  PRODUCT59    201518   43336.0  2015    18
21586       A38  PRODUCT34    201518    2959.0  2015    18
21587       A38  PRODUCT60    201518     211.0  2015    18
21588       A38  PRODUCT56    201518      20.0  2015    18
21589       A38  PRODUCT57    201518     154.0  2015    18
...         ...        ...       ...       ...   ...   ...
120943      A67  PRODUCT58    201547      10.0  2015    47
120944      A67  PRODUCT59    201547   17517.0  2015    47
120945      A67  PRODUCT34    201547     352.0  2015    47
120946      A69  PRODUCT58    201547       2.0  2015    47
120947      A69  PRODUCT59    201547   11069.0  2015    47
120948      A69  PRODUCT34    201547      99.0  2015    47
120949      A68  PRODUCT58    201547       0.0  2015    47
120950      A68  PRODUCT59    201547    8690.0  2015    47
120951      A68  PRODUCT34    201547     251.0  2015    47
120952      A53  PRODUCT58    201547       0.0  2015    47
120953      A53  PRODUCT59    201547    8200.0  2015    47
120954      A53  PRODUCT34    201547       2.0  2015    47
120955      A70  PRODUCT58    201547       6.0  2015    47
120956      A70  PRODUCT59    201547   69978.0  2015    47
120957      A70  PRODUCT34    201547    2147.0  2015    47
120958      A27  PRODUCT62    201547    6081.0  2015    47
120959      A27  PRODUCT17    201547    3915.0  2015    47
120960      A23  PRODUCT58    201547     939.0  2015    47
120961      A23  PRODUCT63    201547    1533.0  2015    47
120962      A23  PRODUCT15    201547     236.0  2015    47
120963      A23   PRODUCT4    201547    1049.0  2015    47
120964      A23  PRODUCT16    201547       2.0  2015    47
120965      A23  PRODUCT36    201547       0.0  2015    47
120966      A23  PRODUCT59    201547   45817.0  2015    47
120967      A23  PRODUCT34    201547   15780.0  2015    47
120968      A23  PRODUCT47    201547     997.0  2015    47
120969      A23  PRODUCT60    201547    1064.0  2015    47
120970      A23  PRODUCT56    201547     356.0  2015    47
120971      A23  PRODUCT57    201547    2536.0  2015    47
120972      A23  PRODUCT12    201547    5430.0  2015    47

[42082 rows x 6 columns]

In [96]:
thridanswerweek = thridanswer.loc[(thridanswer.WEEK < 14)]

In [103]:
thridanswerweek

      REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
22005      A47   PRODUCT2    201512       2.0  2015    12
22006      A47  PRODUCT58    201512    3546.0  2015    12
22007      A47  PRODUCT59    201512  148781.0  2015    12
22008      A47  PRODUCT34    201512   29332.0  2015    12
22009      A48  PRODUCT35    201512    4611.0  2015    12
22010      A48  PRODUCT25    201512   13860.0  2015    12
22011      A48   PRODUCT3    201512     535.0  2015    12
22012      A48  PRODUCT72    201512      54.0  2015    12
22013      A51  PRODUCT58    201513     131.0  2015    13
22014      A51  PRODUCT63    201513     230.0  2015    13
22015      A51  PRODUCT15    201513     140.0  2015    13
22016      A51   PRODUCT4    201513     106.0  2015    13
22017      A51  PRODUCT16    201513     179.0  2015    13
22018      A51  PRODUCT59    201513   20291.0  2015    13
22019      A51  PRODUCT34    201513    5454.0  2015    13
22020      A51  PRODUCT40    201513       1.0  2015    13
22021      A51  PRODUCT47    201513       0.0  2015    13
22022      A51  PRODUCT60    201513      60.0  2015    13
22023      A51  PRODUCT56    201513      13.0  2015    13
22024      A51  PRODUCT12    201513    4712.0  2015    13
22025      A51   PRODUCT1    201513     158.0  2015    13
22730      A01  PRODUCT47    201512    5333.0  2015    12
22731      A01  PRODUCT60    201512       0.0  2015    12
22732      A01  PRODUCT56    201512    5151.0  2015    12
22733      A01  PRODUCT57    201512    7488.0  2015    12
22734      A01  PRODUCT12    201512  151750.0  2015    12
22735      A01   PRODUCT1    201512    5147.0  2015    12
22736      A01  PRODUCT33    201512    8518.0  2015    12
22737      A01  PRODUCT14    201512   13285.0  2015    12
22738      A01  PRODUCT62    201512    8208.0  2015    12
...        ...        ...       ...       ...   ...   ...
90038      A26  PRODUCT34    201510    7837.0  2015    10
90039      A26  PRODUCT40    201510     382.0  2015    10
90040      A26  PRODUCT47    201510       0.0  2015    10
90041      A26  PRODUCT60    201510      31.0  2015    10
90042      A26  PRODUCT56    201510      57.0  2015    10
90043      A26  PRODUCT57    201510    2465.0  2015    10
90044      A26  PRODUCT61    201510       0.0  2015    10
90045      A26  PRODUCT12    201510   12202.0  2015    10
90046      A26   PRODUCT1    201510       1.0  2015    10
90047      A26  PRODUCT33    201510     251.0  2015    10
90048      A26  PRODUCT14    201510       6.0  2015    10
90049      A26  PRODUCT62    201510    2919.0  2015    10
90050      A26  PRODUCT17    201510    2336.0  2015    10
90051      A25  PRODUCT58    201510      63.0  2015    10
90052      A25  PRODUCT59    201510   29807.0  2015    10
90053      A25  PRODUCT34    201510    3882.0  2015    10
90054      A25  PRODUCT40    201510       5.0  2015    10
90055      A25  PRODUCT47    201510       5.0  2015    10
90056      A25  PRODUCT13    201510       8.0  2015    10
90057      A25  PRODUCT60    201510      62.0  2015    10
90058      A25  PRODUCT56    201510     201.0  2015    10
90059      A25  PRODUCT57    201510     633.0  2015    10
90060      A25  PRODUCT12    201510    3091.0  2015    10
90061      A25   PRODUCT1    201510       0.0  2015    10
90062      A25  PRODUCT33    201510      58.0  2015    10
90063      A25  PRODUCT14    201510       0.0  2015    10
90064      A25  PRODUCT62    201510     564.0  2015    10
90065      A25  PRODUCT17    201510     115.0  2015    10
90066      A28  PRODUCT58    201510     139.0  2015    10
90067      A28  PRODUCT63    201510     258.0  2015    10

[10322 rows x 6 columns]

In [109]:
groupKey = ["REGIONID"]

In [110]:
thridanswerweekavgr = thridanswerweek.groupby(by=groupKey)["QTY"].agg(["mean"])

In [111]:
thridanswerweekavgr

                   mean
REGIONID
A00        15451.512821
A01        40121.414716
A02         4729.389140
A03         6663.972851
A04         6794.393162
A05         4792.744939
A06         3657.649573
A07         1901.028846
A08         5130.410256
A09        10550.247863
A10        16290.425339
A11         2098.164835
A12        12873.663462
A13         2693.367893
A14         4094.636923
A15         8151.846154
A16         6987.067308
A17         3043.399038
A18        26243.274038
A19        11740.846154
A20        21457.000000
A21         1380.942308
A22         9173.384615
A23         3539.425339
A24        12493.240385
A25         2811.461538
A26         7461.542510
A27        28716.201923
A28         5912.807692
A29        29359.717949
...                 ...
A41       154823.096154
A42         4140.717949
A43         1060.256410
A44         5492.538462
A45         3087.664336
A46        11914.589744
A47        52446.076923
A48         3731.394231
A50         4299.294872
A51         2457.912821
A52         8208.984615
A53         2392.897436
A54         2013.974359
A55         2286.564103
A56         1616.243590
A57         2828.828402
A58         5438.246154
A59          840.656410
A60         3357.089744
A61        10193.897436
A62        12089.944056
A63         3240.564103
A64         2485.369231
A65         1049.952663
A66         1011.230769
A67        10959.000000
A68         3630.205128
A69         1231.794872
A70        22861.820513
A77         3519.615385

[70 rows x 1 columns]

In [112]:
thridanswerweekavg = thridanswerweekavgr.reset_index()

In [113]:
thridanswerweekavg.rename(columns = {'mean':'AVG_QTY'},
                     inplace = True)

In [114]:
thridanswerweekavg

   REGIONID        AVG_QTY
0       A00   15451.512821
1       A01   40121.414716
2       A02    4729.389140
3       A03    6663.972851
4       A04    6794.393162
5       A05    4792.744939
6       A06    3657.649573
7       A07    1901.028846
8       A08    5130.410256
9       A09   10550.247863
10      A10   16290.425339
11      A11    2098.164835
12      A12   12873.663462
13      A13    2693.367893
14      A14    4094.636923
15      A15    8151.846154
16      A16    6987.067308
17      A17    3043.399038
18      A18   26243.274038
19      A19   11740.846154
20      A20   21457.000000
21      A21    1380.942308
22      A22    9173.384615
23      A23    3539.425339
24      A24   12493.240385
25      A25    2811.461538
26      A26    7461.542510
27      A27   28716.201923
28      A28    5912.807692
29      A29   29359.717949
..      ...            ...
40      A41  154823.096154
41      A42    4140.717949
42      A43    1060.256410
43      A44    5492.538462
44      A45    3087.664336
45      A46   11914.589744
46      A47   52446.076923
47      A48    3731.394231
48      A50    4299.294872
49      A51    2457.912821
50      A52    8208.984615
51      A53    2392.897436
52      A54    2013.974359
53      A55    2286.564103
54      A56    1616.243590
55      A57    2828.828402
56      A58    5438.246154
57      A59     840.656410
58      A60    3357.089744
59      A61   10193.897436
60      A62   12089.944056
61      A63    3240.564103
62      A64    2485.369231
63      A65    1049.952663
64      A66    1011.230769
65      A67   10959.000000
66      A68    3630.205128
67      A69    1231.794872
68      A70   22861.820513
69      A77    3519.615385

[70 rows x 2 columns]

In [117]:
sortKey = ["AVG_QTY"]

In [ ]:
thridanswerweekavg.sort_values(sortKey, ascending = [True])

In [143]:
import pandas as pd #라이브러리 호출


#관련 파일 호출
selloutData = pd.read_csv("E:/kopocloud/dataset/kopo_channel_seasonality_new.csv")


#연도와 주차별 정보 분리를 위한 연도와 주차 행 생성
selloutData["YEAR"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[:4])
selloutData["WEEK"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[4:])

#타입확인
selloutData.dtypes

###52주 한정 데이터 및 2015년 한정 데이터 생성

oeweekorgin = selloutData[(selloutData.WEEK <= 52)&
                            (selloutData.YEAR == 2015)]

##오류 예외처리를 위한 라이브러리
import warnings

#오류 무시를 위한 함수
warnings.filterwarnings(action="ignore")


#분기별 데이터 처리를 위한 함수
## 들어오는 데이터(주차)에 대하여 분기로 분리
def quercheck(inColumn):
    if inColumn <14:
        outValue = "1Q"
    elif inColumn <27:
        outValue = "2Q"
    elif inColumn < 40:
        outValue = "3Q"
    elif inColumn >= 40:
        outValue = "4Q"
    return outValue

#함수를 통해서 산출된 정보를 Qt 행에 삽입
oeweekorgin["Qt"] = oeweekorgin.WEEK.apply(quercheck)


#정렬을 위한 groupkey생성
groupKey = ["Qt"]


#Qt를 기준으로 QTY의 평균값 산출
oeweekorgin = oeweekorgin.groupby(by=groupKey)["QTY"].agg(["mean"]) 


#평균값을 행렬명 mean에 담아서 출력
fourthanswer = oeweekorgin.rename(columns = {'mean':'AVG_QTY'})

fourthanswer