In [1]:
import pandas as pd

In [2]:
selloutData = pd.read_csv("E:/kopocloud/dataset/kopo_channel_seasonality_new.csv")

In [3]:
selloutData.head(2)

  REGIONID    PRODUCT  YEARWEEK      QTY
0      A60   PRODUCT4    201402     71.0
1      A60  PRODUCT59    201402  22275.0

In [3]:
selloutData["YEAR"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[:4])
selloutData["WEEK"] = pd.to_numeric(selloutData["YEARWEEK"].astype(str).str[4:])

#형변환이 잘 되었는지 확인
selloutData.dtypes

REGIONID     object
PRODUCT      object
YEARWEEK      int64
QTY         float64
YEAR          int64
WEEK          int64
dtype: object

In [6]:
secondanswer = selloutData.loc[(selloutData.YEAR == 2015)]

In [7]:
secondanswer

       REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
20470       A33  PRODUCT58    201520      21.0  2015    20
20471       A33  PRODUCT59    201520   66807.0  2015    20
20472       A33  PRODUCT34    201520    3031.0  2015    20
20473       A34  PRODUCT58    201520     270.0  2015    20
20474       A34  PRODUCT59    201520  114829.0  2015    20
20475       A34  PRODUCT34    201520   11055.0  2015    20
20476       A34  PRODUCT12    201520    7990.0  2015    20
20477       A35  PRODUCT58    201520      29.0  2015    20
20478       A35  PRODUCT59    201520   13111.0  2015    20
20479       A35  PRODUCT34    201520    1297.0  2015    20
20480       A36  PRODUCT59    201520    1369.0  2015    20
21571       A08   PRODUCT1    201518     608.0  2015    18
21572       A08  PRODUCT33    201518     732.0  2015    18
21573       A08  PRODUCT14    201518     134.0  2015    18
21574       A58  PRODUCT58    201518     116.0  2015    18
21575       A58  PRODUCT59    201518   37682.0  2015    18
21576       A58  PRODUCT34    201518    4077.0  2015    18
21577       A58  PRODUCT47    201518       0.0  2015    18
21578       A58  PRODUCT60    201518     581.0  2015    18
21579       A58  PRODUCT56    201518      50.0  2015    18
21580       A58  PRODUCT57    201518      69.0  2015    18
21581       A58  PRODUCT12    201518    7786.0  2015    18
21582       A58   PRODUCT1    201518     393.0  2015    18
21583       A58  PRODUCT33    201518     179.0  2015    18
21584       A38  PRODUCT58    201518      29.0  2015    18
21585       A38  PRODUCT59    201518   43336.0  2015    18
21586       A38  PRODUCT34    201518    2959.0  2015    18
21587       A38  PRODUCT60    201518     211.0  2015    18
21588       A38  PRODUCT56    201518      20.0  2015    18
21589       A38  PRODUCT57    201518     154.0  2015    18
...         ...        ...       ...       ...   ...   ...
120943      A67  PRODUCT58    201547      10.0  2015    47
120944      A67  PRODUCT59    201547   17517.0  2015    47
120945      A67  PRODUCT34    201547     352.0  2015    47
120946      A69  PRODUCT58    201547       2.0  2015    47
120947      A69  PRODUCT59    201547   11069.0  2015    47
120948      A69  PRODUCT34    201547      99.0  2015    47
120949      A68  PRODUCT58    201547       0.0  2015    47
120950      A68  PRODUCT59    201547    8690.0  2015    47
120951      A68  PRODUCT34    201547     251.0  2015    47
120952      A53  PRODUCT58    201547       0.0  2015    47
120953      A53  PRODUCT59    201547    8200.0  2015    47
120954      A53  PRODUCT34    201547       2.0  2015    47
120955      A70  PRODUCT58    201547       6.0  2015    47
120956      A70  PRODUCT59    201547   69978.0  2015    47
120957      A70  PRODUCT34    201547    2147.0  2015    47
120958      A27  PRODUCT62    201547    6081.0  2015    47
120959      A27  PRODUCT17    201547    3915.0  2015    47
120960      A23  PRODUCT58    201547     939.0  2015    47
120961      A23  PRODUCT63    201547    1533.0  2015    47
120962      A23  PRODUCT15    201547     236.0  2015    47
120963      A23   PRODUCT4    201547    1049.0  2015    47
120964      A23  PRODUCT16    201547       2.0  2015    47
120965      A23  PRODUCT36    201547       0.0  2015    47
120966      A23  PRODUCT59    201547   45817.0  2015    47
120967      A23  PRODUCT34    201547   15780.0  2015    47
120968      A23  PRODUCT47    201547     997.0  2015    47
120969      A23  PRODUCT60    201547    1064.0  2015    47
120970      A23  PRODUCT56    201547     356.0  2015    47
120971      A23  PRODUCT57    201547    2536.0  2015    47
120972      A23  PRODUCT12    201547    5430.0  2015    47

[42082 rows x 6 columns]

In [40]:
groupKey = ["PRODUCT"]
countValue = secondanswer.\
            groupby(by=groupKey)["QTY"].agg(["count"])

In [41]:
countValue

           count
PRODUCT
PRODUCT1      53
PRODUCT12     53
PRODUCT14     53
PRODUCT15     53
PRODUCT16     53
PRODUCT19     53
PRODUCT2      53
PRODUCT20     53
PRODUCT33     53
PRODUCT34     53
PRODUCT4      53
PRODUCT47     53
PRODUCT56     53
PRODUCT57     53
PRODUCT58     53
PRODUCT59     53
PRODUCT6      53
PRODUCT60     53
PRODUCT62     53
PRODUCT63     53
PRODUCT7      53
PRODUCT75     53
PRODUCT8      53

In [44]:
secondanswer.loc[:,["PRODUCT"]].drop_duplicates().reset_index()

    index    PRODUCT
0   22730  PRODUCT47
1   22731  PRODUCT60
2   22732  PRODUCT56
3   22733  PRODUCT57
4   22734  PRODUCT12
5   22735   PRODUCT1
6   22736  PRODUCT33
7   22737  PRODUCT14
8   22738  PRODUCT62
9   25369   PRODUCT2
10  25370   PRODUCT6
11  25371  PRODUCT58
12  25372  PRODUCT63
13  25373  PRODUCT15
14  25374   PRODUCT4
15  25375  PRODUCT16
16  25376  PRODUCT59
17  25377  PRODUCT34
18  25378   PRODUCT7
19  27116  PRODUCT75
20  27117   PRODUCT8
21  27118  PRODUCT19
22  27119  PRODUCT20

In [46]:
b

In [47]:
groupData

                    mean
PRODUCT
PRODUCT1     6383.811321
PRODUCT12  196178.811321
PRODUCT14   18725.924528
PRODUCT15    4841.132075
PRODUCT16    1443.471698
PRODUCT19    3566.377358
PRODUCT2    19514.000000
PRODUCT20      63.867925
PRODUCT33   11246.754717
PRODUCT34  111175.830189
PRODUCT4    25407.830189
PRODUCT47   10657.000000
PRODUCT56    5867.716981
PRODUCT57    6615.509434
PRODUCT58   17369.962264
PRODUCT59  653210.547170
PRODUCT6      200.981132
PRODUCT60       0.000000
PRODUCT62   12765.320755
PRODUCT63   47621.811321
PRODUCT7     1772.226415
PRODUCT75   30511.981132
PRODUCT8      187.943396

In [49]:
secondanswer

       REGIONID    PRODUCT  YEARWEEK       QTY  YEAR  WEEK
22730       A01  PRODUCT47    201512    5333.0  2015    12
22731       A01  PRODUCT60    201512       0.0  2015    12
22732       A01  PRODUCT56    201512    5151.0  2015    12
22733       A01  PRODUCT57    201512    7488.0  2015    12
22734       A01  PRODUCT12    201512  151750.0  2015    12
22735       A01   PRODUCT1    201512    5147.0  2015    12
22736       A01  PRODUCT33    201512    8518.0  2015    12
22737       A01  PRODUCT14    201512   13285.0  2015    12
22738       A01  PRODUCT62    201512    8208.0  2015    12
25369       A01   PRODUCT2    201520   25697.0  2015    20
25370       A01   PRODUCT6    201520      63.0  2015    20
25371       A01  PRODUCT58    201520   13155.0  2015    20
25372       A01  PRODUCT63    201520   39708.0  2015    20
25373       A01  PRODUCT15    201520    4935.0  2015    20
25374       A01   PRODUCT4    201520   15046.0  2015    20
25375       A01  PRODUCT16    201520    1374.0  2015    20
25376       A01  PRODUCT59    201520  645626.0  2015    20
25377       A01  PRODUCT34    201520   85608.0  2015    20
25378       A01   PRODUCT7    201520    2164.0  2015    20
27116       A01  PRODUCT75    201520   28359.0  2015    20
27117       A01   PRODUCT8    201520     121.0  2015    20
27118       A01  PRODUCT19    201520    4137.0  2015    20
27119       A01  PRODUCT20    201520      34.0  2015    20
27120       A01  PRODUCT47    201520    6507.0  2015    20
27121       A01  PRODUCT60    201520       0.0  2015    20
27122       A01  PRODUCT56    201520    5068.0  2015    20
27123       A01  PRODUCT57    201520    6708.0  2015    20
27124       A01  PRODUCT12    201520  125863.0  2015    20
27125       A01   PRODUCT1    201520    4920.0  2015    20
27126       A01  PRODUCT33    201520   11746.0  2015    20
...         ...        ...       ...       ...   ...   ...
118119      A01  PRODUCT59    201542  639179.0  2015    42
118120      A01  PRODUCT34    201542   98635.0  2015    42
118121      A01   PRODUCT7    201542    2306.0  2015    42
118122      A01  PRODUCT75    201542   38916.0  2015    42
118123      A01   PRODUCT8    201542     145.0  2015    42
118124      A01  PRODUCT19    201542    3560.0  2015    42
118125      A01  PRODUCT20    201542      26.0  2015    42
120724      A01   PRODUCT2    201547   28864.0  2015    47
120725      A01   PRODUCT6    201547     159.0  2015    47
120726      A01  PRODUCT58    201547   22912.0  2015    47
120727      A01  PRODUCT63    201547   69271.0  2015    47
120728      A01  PRODUCT15    201547    4993.0  2015    47
120729      A01   PRODUCT4    201547   68773.0  2015    47
120730      A01  PRODUCT16    201547    2824.0  2015    47
120731      A01  PRODUCT59    201547  681873.0  2015    47
120732      A01  PRODUCT34    201547   94496.0  2015    47
120733      A01   PRODUCT7    201547    3082.0  2015    47
120734      A01  PRODUCT75    201547   38430.0  2015    47
120735      A01   PRODUCT8    201547     225.0  2015    47
120736      A01  PRODUCT19    201547    3459.0  2015    47
120737      A01  PRODUCT20    201547      33.0  2015    47
120738      A01  PRODUCT47    201547   25133.0  2015    47
120739      A01  PRODUCT60    201547       0.0  2015    47
120740      A01  PRODUCT56    201547    7573.0  2015    47
120741      A01  PRODUCT57    201547    5935.0  2015    47
120742      A01  PRODUCT12    201547  378339.0  2015    47
120743      A01   PRODUCT1    201547    8214.0  2015    47
120744      A01  PRODUCT33    201547   17276.0  2015    47
120745      A01  PRODUCT14    201547   32572.0  2015    47
120746      A01  PRODUCT62    201547   22087.0  2015    47

[1219 rows x 6 columns]

In [8]:
secondanswertwo = selloutData.loc[(selloutData.WEEK <14)]

In [ ]:
gro

In [9]:
groupKey = ["REGIONID"]

In [10]:
groupDatatwo = secondanswertwo.groupby(by=groupKey)["QTY"].agg(["mean"])

In [12]:
groupDatatwoResult = groupDatatwo.reset_index()

In [13]:
groupDatatwoResult.rename(columns={'mean': "AVG_QTY"},
                         inplace=True)

In [14]:
groupDatatwoResult

   REGIONID        AVG_QTY
0       A00   11236.529915
1       A01   41007.694537
2       A02    4208.247360
3       A03    6587.585219
4       A04    6260.670940
5       A05    4187.815115
6       A06    3987.264957
7       A07    1496.889423
8       A08    4472.178063
9       A09    9379.384615
10      A10   13546.488688
11      A11    1471.423077
12      A12    8963.951923
13      A13    2508.346711
14      A14    3152.926154
15      A15    6826.653171
16      A16    6794.833333
17      A17    2987.607372
18      A18   20027.649038
19      A19   12874.452991
20      A20   20138.897436
21      A21    1347.657051
22      A22    8216.041667
23      A23    3623.687783
24      A24    9277.570513
25      A25    2542.241026
26      A26    6838.004049
27      A27   25155.546474
28      A28    4868.307692
29      A29   22949.811966
..      ...            ...
40      A41  149992.878205
41      A42    4060.529915
42      A43     822.147009
43      A44    3991.243590
44      A45    2587.953380
45      A46    6381.230769
46      A47   48369.461538
47      A48    3150.798077
48      A50    3761.113248
49      A51    2134.335043
50      A52    7025.625641
51      A53    1996.547009
52      A54    2433.538462
53      A55    2565.777778
54      A56    1526.464387
55      A57    2123.289941
56      A58    4479.107692
57      A59     694.912821
58      A60    3620.055556
59      A61    9853.444444
60      A62    9776.592075
61      A63    1551.188034
62      A64    1995.288889
63      A65    1004.857988
64      A66     961.649573
65      A67    7736.239316
66      A68    2577.410256
67      A69    2098.461538
68      A70   19184.435897
69      A77    3561.884615

[70 rows x 2 columns]

In [32]:
sortKey = ["REGIONID","AVG_QTY"]

In [34]:
groupDatatwoResult.sort_values(sortKey, ascending = [True])

   REGIONID        AVG_QTY
35      A36     657.256410
57      A59     694.912821
42      A43     822.147009
38      A39     867.564103
64      A66     961.649573
63      A65    1004.857988
21      A21    1347.657051
11      A11    1471.423077
7       A07    1496.889423
54      A56    1526.464387
61      A63    1551.188034
62      A64    1995.288889
51      A53    1996.547009
67      A69    2098.461538
55      A57    2123.289941
49      A51    2134.335043
52      A54    2433.538462
13      A13    2508.346711
25      A25    2542.241026
53      A55    2565.777778
66      A68    2577.410256
44      A45    2587.953380
17      A17    2987.607372
47      A48    3150.798077
14      A14    3152.926154
34      A35    3552.692308
69      A77    3561.884615
58      A60    3620.055556
23      A23    3623.687783
31      A32    3637.062500
..      ...            ...
4       A04    6260.670940
45      A46    6381.230769
3       A03    6587.585219
16      A16    6794.833333
15      A15    6826.653171
26      A26    6838.004049
50      A52    7025.625641
65      A67    7736.239316
36      A37    7889.683761
30      A31    8054.863248
22      A22    8216.041667
12      A12    8963.951923
24      A24    9277.570513
9       A09    9379.384615
60      A62    9776.592075
59      A61    9853.444444
39      A40   10974.348718
0       A00   11236.529915
19      A19   12874.452991
10      A10   13546.488688
32      A33   18859.102564
68      A70   19184.435897
18      A18   20027.649038
20      A20   20138.897436
33      A34   22163.467949
29      A29   22949.811966
27      A27   25155.546474
1       A01   41007.694537
46      A47   48369.461538
40      A41  149992.878205

[70 rows x 2 columns]